.root {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.listContainer {
    flex: 0 0 400px;
}
.mapContainer {
    flex: 1 1 auto;
}
@media(max-width: 601px) {
    .root {
        flex-direction: column;
    }
    .listContainer {
        flex: initial;
    }
    .mapContainer {
        flex: 1 0 50vh;
    }
}