.root {
    display: flex;
    position: absolute;
    padding: 0.5rem 0px;
    height: 45px;
    width: 100%;
}
.handle {
    flex: 0 0 12px;
    cursor: grab;
    touchAction: none;
}
.point {
    flex: 1 1 auto;
    padding-left: 1.5rem;
    font-size: 1.125rem;
}
.deleteButton {
    flex: 0 0 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}