.root {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: #383838;
    display: flex;
    flex-direction: column;
}
.root > * {
    flex: 0 0 auto;
}
.header {
    border-bottom: 2px solid #4c4c4c;
}
.listContainer {
    flex: 1 1 auto;
    padding-top: 2rem;
    margin: 1rem 0;
}
.list {
    position: relative;
}
.hint {

}
.button {
    width: 100%;
    background-color: #c2e452;
    border: none;
    padding: 1rem;
    font-weight: bolder;
    font-size: 1.125rem;
    border-radius: 5px;
}